{% include "header" %}

<a id="back" href="/">&lt; Back</a>

<h2>Verified Authors</h2>
<p>
	These are authors that are well known enough to have a lower
	risk of buggy mods / malicious mods. It's based on download link.
</p>

<ul>
{% for link in links %}
	<li>{{ link }}</li>
{% endfor %}
</ul>

{% include "footer" %}
